DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

DB_HOST_TEST=localhost
DB_PORT_TEST=6000
POSTGRES_USER_TEST=postgres
POSTGRES_PASSWORD_TEST=postgres
POSTGRES_DB_TEST=postgres